* text=auto

*.sh text eol=lf
Makefile text eol=lf
DEBIAN/postinst text eol=lf
DEBIAN/prerm text eol=lf
DEBIAN/control text eol=lf
IPK/control text eol=lf
IPK/postinst text eol=lf
IPK/prerm text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
